suite_namespace: backend\tests\acceptance
actor: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: http://backend.mh
            browser: chrome
            capabilities:
                browserName: "chrome"
                javascriptEnabled: true,
                webStorageEnabled: true,
                nativeEvents: true
                chromeOptions:
                    w3c: false
        - Yii2:
            part: orm
