@import "vars";
header {
  font-size: $font-size-big;
  font-weight: bold;
}
#notification-window {
  position: fixed;
  top: 100px;
  text-align: center;
  width: 100%;
}
#notification-window > div {
  margin: 0 auto 0.3em auto;
  width: 50%;
}
#notification-window > .notification-message {
  display: none;
}
p.create-info {
  font-size: $font-size-small;
  color: $muted-text;
}
.fixed-position-save-button {
  position: fixed;
  top: 60px;
  right: 0;
  border-radius: 1em 0 0 1em;
}
table.index-search-table {
  background-color: $color-grey-background;
  margin-bottom: 0;
  td.action-links {
    vertical-align: bottom;
  }
}
.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(220, 220, 220, 0.6);
  display: flex;
  justify-content: center;
  transition: visibility 1s;
  img {
    margin: auto;
  }
}
.material-card {
  padding: 2%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.list-item {
  margin: 2% 0;
}
.index-page-search-box {
  margin: 20px 0;
  input.form-control {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }
  .input-group-btn button {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }
}
.search-box {
  padding-bottom: 1rem;
}
