@import "vars";
#excel-import-container{
  .form-container {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    z-index: 999; /* Over the modal */
  }
  .excel-import-actions {
    margin-bottom: 20px;
  }
  table#excel-import-table, table#example-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  tr.excel-import-row, tr.example-row {
    > td {
      vertical-align: middle;
    }
    > td.can-upload {
      color: $color-almost-done;
      box-shadow: inset 0 0 1px $color-almost-done;
      background-color: lighten($color-almost-done, 40%);
    }
    > td.error {
      color: #a94442;
      background-color: #f2dede;
      box-shadow: inset 0 0 1px #f2dede;
      cursor: pointer;
    }
    > td.loading {
      box-shadow: inset 0 0 1px #0a73bb;
      background-color: lighten(#0a73bb, 57%);
      color: #0a73bb;
    }
    > td.needs-action {
      color: $color-requires-attention;
      box-shadow: inset 0 0 1px $color-requires-attention;
      background-color: lighten($color-requires-attention, 30%);
      cursor: pointer;
    }
    > td.ready {
      color: $color-all-ready;
      cursor: pointer;
    }
    > td.row-status {
      text-align: center;
    }
    > td.row-status.can-upload {
      padding: 0;
    }
    > td.row-ready {
      color: $color-all-ready;
    }
    > td.row-error {
      color: $color-urgent-problem;
    }
    > td.row-info {
      color: $muted-text;
    }
    > td.row-needs-action {
      color: $color-requires-attention;
    }
  }
}

.blur {
  filter: blur(2px) grayscale(50%);
}

#v-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  z-index: 980;
  .v-modal-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .v-modal-dialog {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    max-height: 80%;
    z-index: 990;
    min-width: 40%;
    max-width: 90%;
    .v-modal-title {
      font-size: 1.5rem;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    .v-modal-content {
      padding: 10px;
      overflow-y: auto;
      max-height: 80%;
    }
  }
}
