@import "vars";

#log-index {
  #log-index-search > form#log-index-search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-item {
  }
}

.log-item-container {
  $border: 1px solid #ccc;
  border-bottom: $border;
  border-top: $border;
  padding: 8px 0;
  margin: 8px 0;

  .log-item-header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-bottom: 8px;
    background-color: $color-grey-background;
  }

  .log-item-prefix {
    font-size: small;
    color: $muted-text;
    margin-bottom: 8px;
  }
}
