@import "vars";

#weapp-program-index {
  .list-item {
    margin: 0;
    padding: 1% 0;
    border-bottom: 1px solid #cccccc;
  }
  .weapp-program-group-container {
    display: flex;
    .pg-image-container {
      margin-right: 2%;
      width: 200px;
      img {
        width: 200px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
    }
    .pg-details-container {
      .pg-attribute-container {
        margin: 0.2rem 0;
      }
      display: flex;
      flex-direction: column;
      .pg-program-name, .pg-attr-name {
        font-weight: bold;
      }
      .pg-attr-empty-value {
        color: $color-urgent-problem;
      }
    }
  }
}

#weapp-program-view {
  .tab-content { margin-top: 8px; }
  .weapp-pg-name { font-size: 2rem; }
  .weapp-pg-theme { font-size: 1.7rem; }
  .weapp-pg-visible { font-size: 1.5rem; }
  .weapp-cover-image-container { text-align: left; }
  .weapp-age-range, .weapp-description-container { margin-top: 1rem; }
  .weapp-pg-instances-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    > a > div.weapp-pg-instance-container {
      color: #333;
      margin: 6px;
      padding: 0.5rem;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      > h3, > div { margin: 0 0 0.5rem 0; }
    }
  }
  .weapp-program-instance-name {
    font-size: 1.4rem;
    font-weight: bold;
  }
  img.pg-weapp-cover-image {
    margin-bottom: 1rem;
    max-width: 100%;
  }
  .pg-details {
    margin-bottom: 8px;
    .attr-name { font-weight: bold; }
  }
  .weapp-pg-details-tabs {
    img {
      max-width: 100%;
    }
  }
  #phone-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 { font-size: 2rem; }
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.6rem; }
    h4 { font-size: 1.4rem; }
    h5 { font-size: 1.2rem; }
    h6 { font-size: 1rem; }
    #phone {
      position: relative;
      width: 400px;
      height: 600px;
      @include material-card();
      #phone-header {
        height: 50px;
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
        text-shadow: 1px 1px 1px #555;
        justify-content: center;
        align-items: center;
        overflow: auto;
        &.weapp-visible { background: green; }
        &.weapp-invisible { background: red; }
      }
      #phone-header-image > img {
        width: 100%;
      }
      #phone-content {
        box-sizing: border-box;
        height: 600px;
        padding-top: 50px;
        img { width: 100%; }
        overflow-y: scroll;
        .pg-details {
          margin: 1% 2%;
          border-bottom: 1px solid #ccc;
        }
        #pg-phone-tabs {
          margin: 0 2%;
        }
      }
    }
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    .grid-item {
      border: 1px solid #cccccc;
      border-radius: 5px;
      max-width: 18%;
      margin: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .grid-item-image {
        max-width: 100%;
      }
    }
  }
}

#program-group-weapp-data-update {
  #cover-image-selection-modal .modal-body {
    text-align: center;
    #pg-select-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      .pg-images-preview {
        margin: 8px;
        max-width: 20%;
        cursor: pointer;
      }
    }
  }
  img#pg-weapp-cover-image {
    margin-bottom: 15px;
    max-width: 100%;
  }
  #imageuploadform-file-fileupload .files tr td:first-child {
    max-width: 300px;
    & .preview > a {
      max-width: 100%;
      & > img {
        max-width: 100%;
      }
    }
  }
  #download-images-button {
    position: fixed;
    top: 120px;
    right: 0;
    width: 6em;
    border-radius: 1em 0 0 1em;
    transition: all 1s ease-in-out;
  }
}

.rich_media_content {
  color: #333;
  font-size: 17px;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
}
